.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-text-1 {
  width: 298px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 102px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 992px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}
